body {
  margin-top: 1.0em;
  background-color: #f8fcfc;
  background-image:url("../img/background.png");
  background-position: top;
  background-repeat: repeat-x;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #000000;
  line-height: 1.35em;
}
#container {
  margin: 0 auto;
  width: 950px;
}
.sidebar {
    position: absolute;
    width: 260px;
}
.logo {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.logo a {
    text-decoration: none;
}
.blurb h2{
    font: 18px "Georgia","Palatino","Times New Roman","Times";
    font-style: italic;
    padding-top: 10px;
   
}
.download {
    margin-top: 20px;
    background: #fff;
    padding:30px;

    width: 100px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #2e3436; 
}
.download ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: #070e31;
}
a:hover {
    text-decoration: underline;
}
.header {
    margin-left: 290px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    font-weight: bold;
}
.header a{
    text-decoration: none;
    margin-right: 20px;
    color: #070e31;
}
.header a:visited {
    color: #04091e;
}
.header a.active {
    color: #a40000;
}
.header a:hover {
    text-decoration:underline;
}
.content {
    margin-left: 270px;
    width: 620px;
}
.content p {
    padding:10px;
}
pre {
    background: none repeat scroll 0 0 #F3F3F2;
    border: 1px solid #070e31;
    border-radius: 4px 4px 4px 4px;
    display: block;
    margin: 1.5em 20px;
    padding: 10px 1.5em;
    white-space: pre-wrap;
}

#map {
    border: solid 1px #070e31;
    height:280px;
    width:600px;
    clear: both;
}
.zoom {
  position: absolute;
  z-index: 100000;
  margin: 5px;
  cursor: pointer;
}
.zoom .ui-icon {
  margin: 0 4px;
}
.zoom .ui-corner-all{
  margin: 2px;
  padding: 4px 0;
}
.olControlAttribution {
bottom: 0.5em !important;
}
#mapholder {
    padding: 10px;
}